body {
    background-color: #a2e0ff; /* Light blue */
}

.navbar {
    background-color: #ea88f2; /* Lavender pink */
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffb3cf !important; /* Soft pink hover */
}

.logout-btn {
    background-color: #ff8888; /* Coral pink */
    border-color: #ff8888;
    color: white !important;
    margin-left: 10px; /* Alignment for small screens */
}

.logout-btn:hover {
    background-color: #de0100; /* Bold red */
    border-color: #de0100;
    color: white !important;
}

.container {
    margin-top: 20px;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
