body {
    background-color: #ffb3cf; /* soft pink background */
}

.navbar {
    background-color: #ea88f2; /* lavender pink */
}

.navbar-brand,
.nav-link {
    color: white !important;
}

.logout-btn {
    background-color: #ff8888; /* coral pink */
    border-color: #ff8888;
    color: white !important;
}

.logout-btn:hover {
    background-color: #de0100; /* bold red on hover */
    border-color: #de0100;
    color: white !important;
}

.container {
    margin-top: 20px;
}
